<div id="order" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-16" [routerLink]="'/apps/e-commerce/orders'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Order {{order.orderReferenceCode}}
                    </div>
                    <div *ngIf="order.user.id != 0"  class="subtitle secondary-text">
                        <span>from</span>
                        <span>{{order.user.name}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                
                <mat-tab-group fxLayout="column" fxFlex>

                    <mat-tab label="{{'Order.Order_Details' | translate }}">
                        <form name="orderForm" class = "w-100-p" [formGroup]="orderForm" fxLayout="column" fxFlex>
                        <div class="order-details tab-content p-24" fusePerfectScrollbar>

                            <div class="section pb-48">

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">assignment</mat-icon>
                                    <div class="h2 secondary-text">{{'ORDER.ORDER'|translate}}</div>
                                </div>

                                
                                    <table class="simple">
                                        <thead> 
                                            <tr>
                                                <th>{{'ORDER.REDERENCE' | translate}}</th>
                                                <th>{{'ORDER.PAYMENT_INFO' | translate}}</th>
                                                <th>{{'ORDER.STATUS' | translate}}</th>
                                                <th>{{'ORDER.DATE' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="name text-truncate">{{order.orderReferenceCode}}
                                                    </span>
                                                </td>
                                                <td>

                                                        <input matInput 
                                                        class="w-80-p"
                                                        formControlName="paymentInfo"
                                                        (focus)="clickInput.paymentInfo = true"
                                                        (blur)="clickInput.paymentInfo = false">
                                                        <div class="focuInput" *ngIf="clickInput.paymentInfo" ></div>
                                                    <!-- <span 
                                                    *ngIf="!clickInput.paymentInfo" 
                                                    class="payment text-truncate">
                                                    {{orderForm.value['paymentInfo']}}</span> -->
                                                </td>
                                                <td>
                                                    <mat-form-field class="w-80-p">
                                                        <input matInput formControlName="status" name="status">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <span class="date text-truncate">{{order.date}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                            </div>

                            <div class="section pb-48">

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    <div class="h2 mr-32 secondary-text">{{'ORDER.USER'|translate}}</div>
                                    <button mat-mini-fab
                                        class="add-user"
                                        aria-label="Add User"
                                        [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}"
                                        *ngIf="order.user.id == 0">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                

                                    <table class="simple" *ngIf="order.user.id != 0" >
                                        <thead>
                                            <tr>
                                                <th>{{'ORDER.NAME' | translate}}</th>
                                                <th>{{'ORDER.EMAIL' | translate}}</th>
                                                <th>{{'ORDER.PHONE' | translate}}</th>
                                                <th>{{'ORDER.COMPANY' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="name text-truncate">{{order.user.name}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="email text-truncate">{{order.user.email}}</span>
                                                </td>
                                                <td>
                                                    <span class="phone text-truncate">{{order.user.telephone}}</span>
                                                </td>
                                                <td>
                                                    <span class="company text-truncate">{{order.user.entrepriseName}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                            </div>
                            <div class="section pb-48">

                            <mat-accordion class="addresses">

                                <mat-expansion-panel>

                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Shipping Address</mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="tab-content p-24" fxLayout="column">
                                        <div fxLayout="row" fxLayoutAlign="space-between" class = "genter">
                                            <mat-radio-group aria-label="Select an option"
                                            formControlName="genterShippingAdress"
                                            name = "genterShippingAdress"
                                            >
                                                <mat-radio-button value="1">Man</mat-radio-button>
                                                <mat-radio-button value="2">Woman</mat-radio-button>
                                            </mat-radio-group>

                                            <button mat-raised-button color="accent">Choose A Adresse</button>
                                        </div>

                                        <div fxLayout="row" fxLayoutAlign="space-between">
                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                                <mat-label>firstName</mat-label>
                                                <input matInput name = "firstNameShippingAdresse" formControlName="firstNameShippingAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                                <mat-label>LastName</mat-label>
                                                <input matInput name = "lastNameShippingAdresse" formControlName="lastNameShippingAdresse">
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                                <mat-label>phone</mat-label>
                                                <input matInput name = "phoneShippingAdresse" formControlName="phoneShippingAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                                <mat-label>fax</mat-label>
                                                <input matInput name = "faxShippingAdresse" formControlName="faxShippingAdresse">
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="25">
                                                <mat-label>Stree</mat-label>
                                                <input matInput name = "streeShippingAdresse" formControlName="streeShippingAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="70">
                                                <mat-label>Adresse Detail</mat-label>
                                                <input matInput name = "detailShippingAdresse" formControlName="detailShippingAdresse">
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                                <mat-label>Post Code</mat-label>
                                                <input matInput name = "postCodeShippingAdresse" formControlName="postCodeShippingAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                                <mat-label>City</mat-label>
                                                <input matInput name = "cityShippingAdresse" formControlName="cityShippingAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                                <mat-label>Provence</mat-label>
                                                <input matInput name = "provenceShippingAdresse" formControlName="provenceShippingAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                                <mat-label>Country</mat-label>
                                                <input matInput name = "countryShippingAdresse" formControlName="countryShippingAdresse">
                                            </mat-form-field>
                                        </div>

                                    </div>

                                </mat-expansion-panel>

                                <mat-expansion-panel>

                                    <mat-expansion-panel-header>
                                        <mat-panel-title>Facturation Address</mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="tab-content p-24" fxLayout="column">
                                        <div fxLayout="row" fxLayoutAlign="space-between" class = "genter">
                                            <mat-radio-group aria-label="Select an option"
                                            formControlName="genterFacturationAdress"
                                            name = "genterFacturationAdress"
                                            >
                                                <mat-radio-button value="1">Man</mat-radio-button>
                                                <mat-radio-button value="2">Woman</mat-radio-button>
                                            </mat-radio-group>

                                            <button mat-raised-button color="accent">Choose A Adresse</button>
                                        </div>

                                        <div fxLayout="row" fxLayoutAlign="space-between">
                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                                <mat-label>firstName</mat-label>
                                                <input matInput name = "firstNameFacturationAdresse" formControlName="firstNameFacturationAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                                <mat-label>LastName</mat-label>
                                                <input matInput name = "lastNameFacturationAdresse" formControlName="lastNameFacturationAdresse">
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                                <mat-label>phone</mat-label>
                                                <input matInput name = "phoneFacturationAdresse" formControlName="phoneFacturationAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                                <mat-label>fax</mat-label>
                                                <input matInput name = "faxFacturationAdresse" formControlName="faxFacturationAdresse">
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="25">
                                                <mat-label>Stree</mat-label>
                                                <input matInput name = "streeFacturationAdresse" formControlName="streeFacturationAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="70">
                                                <mat-label>Adresse Detail</mat-label>
                                                <input matInput name = "detailFacturationAdresse" formControlName="detailFacturationAdresse">
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                                <mat-label>Post Code</mat-label>
                                                <input matInput name = "postCodeFacturationAdresse" formControlName="postCodeFacturationAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                                <mat-label>City</mat-label>
                                                <input matInput name = "cityFacturationAdresse" formControlName="cityFacturationAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                                <mat-label>Provence</mat-label>
                                                <input matInput name = "provenceFacturationAdresse" formControlName="provenceFacturationAdresse">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
                                                <mat-label>Country</mat-label>
                                                <input matInput name = "countryFacturationAdresse" formControlName="countryFacturationAdresse">
                                            </mat-form-field>
                                        </div>

                                    </div>

                                </mat-expansion-panel>


                            </mat-accordion>

                        </div>


                            <div class="section pb-48">

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    <div class="h2 secondary-text">{{'ORDER.REMARK'|translate}}</div>
                                </div>

                                

                                <div class="customer mb-32">
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>{{'ORDER.TYPE' | translate}}</th>
                                                <th>{{'ORDER.CONTENT' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="name text-truncate">{{'ORDER.CLIENT' | translate}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="remark text-truncate">{{order.clienRemark}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="name text-truncate">{{'ORDER.ADMIN' | translate}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="remark text-truncate">{{order.adminRemark}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </form>
                    </mat-tab>
                

                    <mat-tab label="Products">
                        <div class="products tab-content p-24" fusePerfectScrollbar>
                            <table class="simple">
                                <thead>
                                    <tr>
                                        <th class="w-80">ID</th>
                                        <th class="w-120">Image</th>
                                        <th>Name</th>
                                        <th class="w-120">Price</th>
                                        <th class="w-80">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="product-row"
                                        *ngFor="let product of order.products">
                                        <td [routerLink]="'/apps/e-commerce/products/'+product.id">
                                            {{product.id}}
                                        </td>
                                        <td [routerLink]="'/apps/e-commerce/products/'+product.id">
                                            <img class="product-image" [src]="product.image">
                                        </td>
                                        <td [routerLink]="'/apps/e-commerce/products/'+product.id">
                                            {{product.name}}
                                        </td>
                                        <td>
                                            {{product.price}}
                                        </td>
                                        <td>
                                            <input matInput type="number" (change)="changeProductQuantity(product)" [(ngModel)]="product.quantity">
                                        </td>
                                    </tr>
                                    <tr >
                                        <th colspan="5" class="add-product"><mat-icon class="s-56" (click)="newProduct()" >add_circle</mat-icon></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>

                    <mat-tab label="Invoice">

                        <div class="invoice tab-content p-24" fusePerfectScrollbar>

                            <div id="invoice" class="compact page-layout blank" fxLayout="row" fusePerfectScrollbar>

                                <div class="invoice-container">

                                    <!-- INVOICE -->
                                    <div class="card">

                                        <div class="header">
                                            <div class="invoice-date">{{order.date}}</div>

                                            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                                                <div class="client">
                                                    <div class="invoice-number" fxLayout="row"
                                                         fxLayoutAlign="start center">
                                                        <span class="title">INVOICE</span>
                                                        <span class="number">{{order.orderReferenceCode}}</span>
                                                    </div>

                                                    <div class="info">
                                                        <div class="title">
                                                            {{order.user.name}}
                                                        </div>
                                                        <div class="address">
                                                            {{order.shippingAdresse.adressDetail}}
                                                        </div>
                                                        <div class="phone">{{order.user.telephone}}</div>
                                                        <div class="email">{{order.user.email}}</div>
                                                    </div>
                                                </div>

                                                <div class="issuer accent" fxLayout="row" fxLayoutAlign="start center">
                                                    <div class="logo">
                                                        <img src="assets/images/logos/fuse.svg">
                                                    </div>

                                                    <div class="info">
                                                        <div class="title">FUSE INC.</div>
                                                        <div class="address">2810 Country Club Road Cranford, NJ 07016
                                                        </div>
                                                        <div class="phone">+66 123 455 87</div>
                                                        <div class="email">hello@fuseinc.com</div>
                                                        <div class="website">www.fuseinc.com</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="content">

                                            <table class="simple invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>PRODUCT</th>
                                                        <th class="text-right">PRICE</th>
                                                        <th class="text-right">QUANTITY</th>
                                                        <th class="text-right">TOTAL</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let product of order.products">
                                                        <td>
                                                            <div class="title">
                                                                {{product.name}}
                                                            </div>
                                                        </td>
                                                        <td class="text-right">
                                                            {{product.price | currency:'USD':'symbol'}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{product.quantity}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{product.price * product.quantity | currency:'USD':'symbol'}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="simple invoice-table-footer">
                                                <tbody>
                                                    <!-- <tr class="subtotal">
                                                        <td>SUBTOTAL</td>
                                                        <td>{{order.subtotal | currency:'USD':'symbol'}}</td>
                                                    </tr> -->
                                                    <tr class="tax">
                                                        <td>TAX</td>
                                                        <td>{{order.taxRate | currency:'USD':'symbol'}}</td>
                                                    </tr>
                                                    <!-- <tr class="discount">
                                                        <td>DISCOUNT</td>
                                                        <td>-{{order.discount | currency:'USD':'symbol'}}</td>
                                                    </tr> -->
                                                    <tr class="total">
                                                        <td>TOTAL</td>
                                                        <td>{{order.totalPrice | currency:'USD':'symbol'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="footer">
                                            <div class="note">Please pay within 15 days. Thank you for your business.
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start start">
                                                <div class="logo">
                                                    <img src="assets/images/logos/fuse.svg">
                                                </div>
                                                <div class="small-note">
                                                    In condimentum malesuada efficitur. Mauris volutpat placerat auctor.
                                                    Ut ac congue dolor. Quisque scelerisque lacus sed feugiat fermentum.
                                                    Cras aliquet facilisis pellentesque. Nunc hendrerit quam at leo
                                                    commodo, a suscipit tellus dapibus. Etiam at felis volutpat est
                                                    mollis lacinia. Mauris placerat sem sit amet velit mollis, in
                                                    porttitor ex finibus. Proin eu nibh id libero tincidunt lacinia et
                                                    eget eros.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / INVOICE -->

                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
