<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" *ngIf="product.images[0]">
                        <img *ngIf="product.images[0].status == 'new'" [src]="product.images[0].path">
                        <img *ngIf="product.images[0].status == 'save'" [src]="imageRoot + product.images[0].path">
                    </div>
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{getCurrentName()}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        {{'PRODUCT.NEW_PRODUCT'| translate}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{'PRODUCT.PRODUCT_DETAIL'| translate}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="saveProduct()">
                <span>{{'PRODUCT.ADD'| translate}}</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>{{'PRODUCT.SAVE'| translate}}</span>
            </button>
    </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <div class="overlay" *ngIf="loading"><div class="center"><mat-spinner></mat-spinner></div></div>

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label = "{{'PRODUCT.BASIC_INFO' | translate}}" >

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>{{'PRODUCT.PRODUCT_NAME'| translate}}<span>(fr)</span></mat-label>
                                        <input matInput placeholder="{{'PRODUCT.PRODUCT_NAME'| translate}}"
                                            name="frName"
                                            formControlName="frName"
                                            required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>{{'PRODUCT.PRODUCT_NAME'| translate}}<span>(cn)</span></mat-label>
                                        <input matInput placeholder="{{'PRODUCT.PRODUCT_NAME'| translate}}"
                                            name="cnName"
                                            formControlName="cnName">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>{{'PRODUCT.PRODUCT_NAME'| translate}}<span>(en)</span></mat-label>
                                        <input matInput placeholder="{{'PRODUCT.PRODUCT_NAME'| translate}}"
                                            name="enName"
                                            formControlName="enName">
                                    </mat-form-field>
                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.REFERENCE_CODE'| translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.REFERENCE_CODE'| translate}}"
                                            name="reference"
                                            formControlName="productReferenceCode"
                                            required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>{{'PRODUCT.PRODUCT_DESCRIPTION'| translate}}</mat-label>
                                    <textarea matInput placeholder="{{'PRODUCT.PRODUCT_DESCRIPTION'| translate}}"
                                              name="description"
                                              formControlName="description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                <div fxLayout="row" fxLayoutAlign="start start">
                                    
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>{{'PRODUCT.MAIN_CATEGORY' | translate}}</mat-label>
                                        <mat-select 
                                        (selectionChange)="changeMainCategory($event)" 
                                        formControlName = "mainCategory"
                                        name = "mainCategory"
                                        required>
                                            <mat-option *ngFor="let item of mainCategoryTable()" [value]="item.id">{{item.label}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30" fxFlexOffset="5vw">
                                        <mat-label>{{'PRODUCT.PRODUCT_CATEGORY' | translate}}</mat-label>
                                        <mat-select  
                                        [disabled]="mainCategory == ''" 
                                        formControlName = "category"
                                        name = "category" 
                                        required>
                                        <mat-option *ngFor="let item of productCategoryTable(mainCategory)" 
                                            [value]="item.id"
                                            >{{item.label}}</mat-option>  
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab label="{{'PRODUCT.PRODUCT_IMAGE' | translate}}">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngFor="let image of product.images">
                                        <div *ngIf="product.images.length > 0"
                                             class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media"
                                            *ngIf="image.status == 'new'"
                                            [src]="image.path"
                                            (click)="openImageViewDialog(image)" >
                                            <img class="media" 
                                            *ngIf="image.status == 'save'" 
                                            [src]="imageRoot + image.path"
                                            (click)="openImageViewDialog(image)">
                                        </div>
                                    </div>

                                    <div class="product-image add-new-image" fxLayout="column" fxLayoutAlign="center center"
                                        (click)="imgFileInput.click()"
                                        [@animate]="{value:'*',params:{y:'100%'}}">
                                        <mat-icon class="s-56">add_circle</mat-icon>
                                        <div class="add-image-descript">{{'PRODUCT.ADD_NEW_IMAGE' | translate}}</div>
                                    </div>
                                    <input
                                        hidden 
                                        #imgFileInput
                                        type="file" 
                                        (change)="uploadImage($event)" >
                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="{{'PRODUCT.PRICING' | translate}}">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.PRICE'| translate}}</mat-label>
                                    <input matInput placeholder="Price"
                                           name="price"
                                           formControlName="price"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.TAX_RATE'| translate}}</mat-label>
                                    <mat-select  
                                    name="taxRate"
                                    formControlName="taxRate"
                                    required>
                                        <mat-option *ngFor="let item of getTaxRateTable()" [value]="item">{{item}}</mat-option>
                                    </mat-select>
                                    <span matPrefix>&#37;&nbsp;</span>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{'PRODUCT.PROPERTY' | translate}}">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.SIZE' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.SIZE' | translate}}"
                                           name="size"
                                           formControlName="size">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.COLOR' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.COLOR' | translate}}"
                                           name="color"
                                           formControlName="color">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.MATERIAL' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.MATERIAL' | translate}}"
                                           name="material"
                                           formControlName="material">
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="{{'PRODUCT.PACKING' | translate}}">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.QUANTITY_PER_BOX' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.QUANTITY_PER_BOX' | translate}}"
                                           name="quantityPerBox"
                                           formControlName="quantityPerBox"
                                           type="number">
                                    <!-- <span matSuffix>kg</span> -->
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.MIN_QUANTITY' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.MIN_QUANTITY' | translate}}"
                                           name="minQuantity"
                                           formControlName="minQuantity"
                                           type="number">
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                </mat-form-field>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
