<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        {{'PRODUCT.NEW_PRODUCT'| translate}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{'PRODUCT.PRODUCT_DETAIL'| translate}}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>{{'PRODUCT.ADD'| translate}}</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>{{'PRODUCT.SAVE'| translate}}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label = "{{'PRODUCT.BASIC_INFO' | translate}}" >

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>{{'PRODUCT.PRODUCT_NAME'| translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.PRODUCT_NAME'| translate}}"
                                           name="name"
                                           formControlName="name"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.REFERENCE_CODE'| translate}}</mat-label>
                                        <input matInput placeholder="{{'PRODUCT.REFERENCE_CODE'| translate}}"
                                               name="reference"
                                               formControlName="productReferenceCode"
                                               required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>{{'PRODUCT.PRODUCT_DESCRIPTION'| translate}}</mat-label>
                                    <textarea matInput placeholder="{{'PRODUCT.PRODUCT_DESCRIPTION'| translate}}"
                                              name="description"
                                              formControlName="description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                <mat-label>  {{'PRODUCT.CATEGORITES'| translate}}<span>*</span></mat-label>
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-select (selectionChange)="changeFirstCategory($event)" [value]="firstCategory" required>
                                            <mat-option *ngFor="let item of firstCategoryTable()" [value]="item">{{item}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-select  (selectionChange)="changeSecondCategory($event)" [value]="secondCategory" [disabled]="firstCategory == ''" required>
                                            <mat-option *ngFor="let item of secondCategoryTable(firstCategory)" 
                                            [value]="item"
                                            >{{item}}</mat-option>  
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-select 
                                        [disabled]="(firstCategory == '') || (secondCategory == '')"
                                        name="category"
                                        formControlName="category"
                                        required>
                                            <mat-option *ngFor="let item of ProductCategoryTable(firstCategory,secondCategory)" [value]="item">
                                                {{item}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab label="{{'PRODUCT.PRODUCT_IMAGE' | translate}}">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <section>
                                    <mat-label>{{'PRODUCT.UPLOAD_IMAGE' | translate}}</mat-label>
                                    <input mat-input type="file" (change)="uploadImage($event)">
                                </section>

                                <div class="image-preview mb-3" *ngIf="imageUrl">
                                    <img [src]="imageUrl" height="300" />                 
                                </div>

                                <!-- <div fxLayout="row wrap" fxLayoutAlign="start start">
                                    
                                    <div *ngIf="product.images.length === 0"
                                         class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media"
                                             [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                    </div>

                                    <div *ngFor="let image of product.images">
                                        <div *ngIf="product.images.length > 0"
                                             class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="image.url">
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                        </mat-tab>

                        <mat-tab label="{{'PRODUCT.PRICING' | translate}}">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.PRICE'| translate}}</mat-label>
                                    <input matInput placeholder="Tax Excluded Price"
                                           name="Price"
                                           formControlName="price"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.TAX_RATE'| translate}}</mat-label>
                                    <input matInput placeholder="Tax Rate"
                                           name="taxRate"
                                           formControlName="taxRate"
                                           type="number">
                                    <span matPrefix>&#37;&nbsp;</span>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="{{'PRODUCT.PROPERTY' | translate}}">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.SIZE' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.SIZE' | translate}}"
                                           name="size"
                                           formControlName="size">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.COLOR' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.COLOR' | translate}}"
                                           name="color"
                                           formControlName="color">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.MATERIAL' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.MATERIAL' | translate}}"
                                           name="material"
                                           formControlName="material">
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="{{'PRODUCT.PACKING' | translate}}">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.QUANTITY_PER_BOX' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.QUANTITY_PER_BOX' | translate}}"
                                           name="quantityPerBox"
                                           formControlName="quantityPerBox"
                                           type="number">
                                    <!-- <span matSuffix>kg</span> -->
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>{{'PRODUCT.MIN_QUANTITY' | translate}}</mat-label>
                                    <input matInput placeholder="{{'PRODUCT.MIN_QUANTITY' | translate}}"
                                           name="minQuantity"
                                           formControlName="minQuantity"
                                           type="number">
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                </mat-form-field>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
